@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700;800&display=swap');

:root {
  font-size: 36px;
}

html {
  font-family: 'roboto slab', arial, 'sans-serif';
}

body {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

div {
  background-color: hsl(200, 70%, 30%);
  width: 400px;
  height: 400px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

/* scale transforms */
div {
  /* transform: scale(2); */
  transform: scale(1.5, 1);
  /* transform: scaleX(2); */
  /* transform: scaleY(2); */
  /* transform: scaleZ(2); */
  /* transform: scale3d(1.5,.8,2); */
}
