@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700;800&display=swap');

:root {
  font-size: 36px;
}

html {
  font-family: 'roboto slab', arial, 'sans-serif';
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

div {
  background-color: hsl(200, 70%, 30%);
  width: 400px;
  height: 400px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  border-radius: 50%;
  animation: moveAround 0.4s ease-in forwards infinite;
}

div:hover {
  animation-play-state: paused;
}

@keyframes moveAround {
  0% {
    transform: translate(0);
  }
  25% {
    transform: translate(25%, 0);
    color: #f00;
  }
  50% {
    transform: translate(25%, 25%);
    color: #0f0;
  }
  75% {
    transform: translate(0%, 25%);
    color: #00f;
  }
  100% {
    transform: translate(0);
  }
}
